# ÎÑ§Ïù¥Î≤Ñ Í∏àÏúµ Í∞úÎ≥ÑÏ¢ÖÎ™© ÏàòÏßë

## üìçÎØ∏Î¶¨Î≥¥Í∏∞

In [35]:
import pandas as pd
import numpy as np
import requests
import time

def get_finance_information(code, name):
    
    page_no = 1
    item_list = []
    prev_day = None
    
    while True:
        # ÏàòÏßëÌï† url Í∞ÄÏ†∏Ïò§Í∏∞
        url = f"https://finance.naver.com/item/sise_day.naver?code={code}&page={page_no}"
        
        # Îç∞Ïù¥ÌÑ∞ Ï†ÄÏû•
        table = pd.read_html(requests.get(url, headers={'User-agent': 'Mozilla/5.0'}).text)
        df = table[0].dropna()
        
        # Î∞òÎ≥µÎ¨∏ Ï¢ÖÎ£å ÏãúÏ†ê ÎßåÎì§Í∏∞
        last_day = df.iloc[-1]["ÎÇ†Ïßú"]
        
        if last_day == prev_day:
            break
            
        prev_day = last_day
        item_list.append(df)
        page_no = page_no + 1
        time.sleep(0.1)
    
    # Îç∞Ïù¥ÌÑ∞ Ïª¨Îüº ÏÉùÏÑ±    
    df_tot = pd.concat(item_list)
    df_tot["Ï¢ÖÎ™©ÏΩîÎìú"] = code
    df_tot["Ï¢ÖÎ™©Î™Ö"] = name
    
    # Îç∞Ïù¥ÌÑ∞ Ïª¨Îüº ÏàúÏÑú Ï†ïÎ¶¨
    cols = ['Ï¢ÖÎ™©ÏΩîÎìú', 'Ï¢ÖÎ™©Î™Ö', 'ÎÇ†Ïßú', 'Ï¢ÖÍ∞Ä', 'Ï†ÑÏùºÎπÑ', 'ÏãúÍ∞Ä', 'Í≥†Í∞Ä', 'Ï†ÄÍ∞Ä', 'Í±∞ÎûòÎüâ']
    df_tot = df_tot[cols]
    df_tot.drop_duplicates()
    
    return df_tot

In [36]:
get_finance_information('129920', 'ÎåÄÏÑ±ÌïòÏù¥ÌÖç')

,Ï¢ÖÎ™©ÏΩîÎìú,Ï¢ÖÎ™©Î™Ö,ÎÇ†Ïßú,Ï¢ÖÍ∞Ä,Ï†ÑÏùºÎπÑ,ÏãúÍ∞Ä,Í≥†Í∞Ä,Ï†ÄÍ∞Ä,Í±∞ÎûòÎüâ
1,129920,ÎåÄÏÑ±ÌïòÏù¥ÌÖç,2022.09.30,9120.0,880.0,9800.0,9800.0,9070.0,805620.0
2,129920,ÎåÄÏÑ±ÌïòÏù¥ÌÖç,2022.09.29,10000.0,400.0,10850.0,11300.0,10000.0,2220094.0
3,129920,ÎåÄÏÑ±ÌïòÏù¥ÌÖç,2022.09.28,10400.0,700.0,10900.0,11000.0,10250.0,790762.0
4,129920,ÎåÄÏÑ±ÌïòÏù¥ÌÖç,2022.09.27,11100.0,150.0,11200.0,11500.0,10500.0,584862.0
5,129920,ÎåÄÏÑ±ÌïòÏù¥ÌÖç,2022.09.26,11250.0,600.0,11700.0,12050.0,11200.0,646782.0
9,129920,ÎåÄÏÑ±ÌïòÏù¥ÌÖç,2022.09.23,11850.0,150.0,12000.0,12350.0,11700.0,654339.0
10,129920,ÎåÄÏÑ±ÌïòÏù¥ÌÖç,2022.09.22,12000.0,50.0,11550.0,12200.0,11500.0,808001.0
11,129920,ÎåÄÏÑ±ÌïòÏù¥ÌÖç,2022.09.21,11950.0,150.0,12400.0,13100.0,11800.0,1616168.0
12,129920,ÎåÄÏÑ±ÌïòÏù¥ÌÖç,2022.09.20,12100.0,450.0,11750.0,12900.0,11750.0,2060076.0
13,129920,ÎåÄÏÑ±ÌïòÏù¥ÌÖç,2022.09.19,11650.0,2100.0,13750.0,14000.0,11500.0,1821469.0
1,129920,ÎåÄÏÑ±ÌïòÏù¥ÌÖç,2022.09.16,13750.0,50.0,14000.0,14850.0,13600.0,3040429.0
2,129920,ÎåÄÏÑ±ÌïòÏù¥ÌÖç,2022.09.15,13800.0,2550.0,11550.0,14500.0,11400.0,7401361.0
3,129920,ÎåÄÏÑ±ÌïòÏù¥ÌÖç,2022.09.14,11250.0,850.0,11450.0,11550.0,11200.0,757668.0
4,129920,ÎåÄÏÑ±ÌïòÏù¥ÌÖç,2022.09.13,12100.0,650.0,12950.0,12950.0,12000.0,856353.0
5,129920,ÎåÄÏÑ±ÌïòÏù¥ÌÖç,2022.09.08,12750.0,450.0,13500.0,13700.0,12600.0,1355952.0
9,129920,ÎåÄÏÑ±ÌïòÏù¥ÌÖç,2022.09.07,13200.0,500.0,13600.0,13650.0,13050.0,826157.0
10,129920,ÎåÄÏÑ±ÌïòÏù¥ÌÖç,2022.09.06,13700.0,100.0,14150.0,14250.0,13550.0,1329385.0
11,129920,ÎåÄÏÑ±ÌïòÏù¥ÌÖç,2022.09.05,13600.0,0.0,13550.0,14100.0,13000.0,1686721.0
12,129920,ÎåÄÏÑ±ÌïòÏù¥ÌÖç,2022.09.02,13600.0,300.0,13900.0,14350.0,13550.0,1067757.0
13,129920,ÎåÄÏÑ±ÌïòÏù¥ÌÖç,2022.09.01,13900.0,150.0,13900.0,14550.0,13650.0,1778640.0
1,129920,ÎåÄÏÑ±ÌïòÏù¥ÌÖç,2022.08.31,14050.0,650.0,14500.0,14750.0,13800.0,1527852.0
2,129920,ÎåÄÏÑ±ÌïòÏù¥ÌÖç,2022.08.30,14700.0,1300.0,13450.0,15300.0,13300.0,6413017.0
3,129920,ÎåÄÏÑ±ÌïòÏù¥ÌÖç,2022.08.29,13400.0,1000.0,13750.0,13950.0,13150.0,1328992.0
4,129920,ÎåÄÏÑ±ÌïòÏù¥ÌÖç,2022.08.26,14400.0,650.0,14750.0,15100.0,14400.0,1201367.0
5,129920,ÎåÄÏÑ±ÌïòÏù¥ÌÖç,2022.08.25,15050.0,50.0,16200.0,16550.0,14650.0,4372881.0
9,129920,ÎåÄÏÑ±ÌïòÏù¥ÌÖç,2022.08.24,15000.0,50.0,14950.0,15100.0,14000.0,3157809.0
10,129920,ÎåÄÏÑ±ÌïòÏù¥ÌÖç,2022.08.23,14950.0,350.0,14600.0,15900.0,14200.0,5547904.0
11,129920,ÎåÄÏÑ±ÌïòÏù¥ÌÖç,2022.08.22,14600.0,1600.0,13000.0,15450.0,12950.0,14822381.0

---

## 1. ÎùºÏù¥Î∏åÎü¨Î¶¨ Î°úÎìú

In [20]:
import pandas as pd
import numpy as np
import requests
import time

## 2. Îç∞Ïù¥ÌÑ∞ Î°úÎìú

In [12]:
code = '005930'
page_no = 1

url = f"https://finance.naver.com/item/sise_day.naver?code={code}&page={page_no}"
print(url)

https://finance.naver.com/item/sise_day.naver?code=005930&page=1

In [13]:
# pd.read_html(url, encoding="cp949") : ValueError: No tables found

## 3. DataFrameÏúºÎ°ú Î≥ÄÌôò

In [14]:
table = pd.read_html(requests.get(url, headers={'User-agent': 'Mozilla/5.0'}).text)

In [15]:
table

[            ÎÇ†Ïßú       Ï¢ÖÍ∞Ä     Ï†ÑÏùºÎπÑ       ÏãúÍ∞Ä       Í≥†Í∞Ä       Ï†ÄÍ∞Ä         Í±∞ÎûòÎüâ
 0          NaN      NaN     NaN      NaN      NaN      NaN         NaN
 1   2022.09.30  53100.0   500.0  52300.0  53600.0  51800.0  21823113.0
 2   2022.09.29  52600.0   300.0  53300.0  53700.0  52600.0  13882080.0
 3   2022.09.28  52900.0  1300.0  53900.0  54400.0  52500.0  19991129.0
 4   2022.09.27  54200.0   300.0  53800.0  54200.0  53500.0  16631289.0
 5   2022.09.26  53900.0   600.0  53700.0  54200.0  53600.0  15008449.0
 6          NaN      NaN     NaN      NaN      NaN      NaN         NaN
 7          NaN      NaN     NaN      NaN      NaN      NaN         NaN
 8          NaN      NaN     NaN      NaN      NaN      NaN         NaN
 9   2022.09.23  54500.0   100.0  54400.0  54900.0  54200.0  10555964.0
 10  2022.09.22  54400.0   900.0  54600.0  54700.0  54300.0  12786510.0
 11  2022.09.21  55300.0   500.0  55400.0  55500.0  55000.0  11863700.0
 12  2022.09.20  55800.0   600.0  56400.0  57000.0  55800.0  14041465.0
 13  2022.09.19  56400.0   200.0  56300.0  57000.0  56000.0  12278653.0
 14         NaN      NaN     NaN      NaN      NaN      NaN         NaN,
    0   1   2   3   4   5   6   7   8   9   10  11
 0   1   2   3   4   5   6   7   8   9  10  Îã§Ïùå  Îß®Îí§]

In [21]:
table[0]

            ÎÇ†Ïßú       Ï¢ÖÍ∞Ä     Ï†ÑÏùºÎπÑ       ÏãúÍ∞Ä       Í≥†Í∞Ä       Ï†ÄÍ∞Ä         Í±∞ÎûòÎüâ
0          NaN      NaN     NaN      NaN      NaN      NaN         NaN
1   2022.09.30  53100.0   500.0  52300.0  53600.0  51800.0  21823113.0
2   2022.09.29  52600.0   300.0  53300.0  53700.0  52600.0  13882080.0
3   2022.09.28  52900.0  1300.0  53900.0  54400.0  52500.0  19991129.0
4   2022.09.27  54200.0   300.0  53800.0  54200.0  53500.0  16631289.0
5   2022.09.26  53900.0   600.0  53700.0  54200.0  53600.0  15008449.0
6          NaN      NaN     NaN      NaN      NaN      NaN         NaN
7          NaN      NaN     NaN      NaN      NaN      NaN         NaN
8          NaN      NaN     NaN      NaN      NaN      NaN         NaN
9   2022.09.23  54500.0   100.0  54400.0  54900.0  54200.0  10555964.0
10  2022.09.22  54400.0   900.0  54600.0  54700.0  54300.0  12786510.0
11  2022.09.21  55300.0   500.0  55400.0  55500.0  55000.0  11863700.0
12  2022.09.20  55800.0   600.0  56400.0  57000.0  55800.0  14041465.0
13  2022.09.19  56400.0   200.0  56300.0  57000.0  56000.0  12278653.0
14         NaN      NaN     NaN      NaN      NaN      NaN         NaN

## 4. Í≤∞Ï∏°Ïπò Ï†úÍ±∞

In [22]:
# Í≤∞Ï∏°Ïπò Ï†úÍ±∞
df = table[0].dropna()

In [23]:
df

            ÎÇ†Ïßú       Ï¢ÖÍ∞Ä     Ï†ÑÏùºÎπÑ       ÏãúÍ∞Ä       Í≥†Í∞Ä       Ï†ÄÍ∞Ä         Í±∞ÎûòÎüâ
1   2022.09.30  53100.0   500.0  52300.0  53600.0  51800.0  21823113.0
2   2022.09.29  52600.0   300.0  53300.0  53700.0  52600.0  13882080.0
3   2022.09.28  52900.0  1300.0  53900.0  54400.0  52500.0  19991129.0
4   2022.09.27  54200.0   300.0  53800.0  54200.0  53500.0  16631289.0
5   2022.09.26  53900.0   600.0  53700.0  54200.0  53600.0  15008449.0
9   2022.09.23  54500.0   100.0  54400.0  54900.0  54200.0  10555964.0
10  2022.09.22  54400.0   900.0  54600.0  54700.0  54300.0  12786510.0
11  2022.09.21  55300.0   500.0  55400.0  55500.0  55000.0  11863700.0
12  2022.09.20  55800.0   600.0  56400.0  57000.0  55800.0  14041465.0
13  2022.09.19  56400.0   200.0  56300.0  57000.0  56000.0  12278653.0

## 5. ÌéòÏù¥ÏßÄÎ≥Ñ Îç∞Ïù¥ÌÑ∞ Ìï©ÏπòÍ∏∞

In [25]:
df.iloc[-1]["ÎÇ†Ïßú"]

'2022.09.19'

In [26]:
code = '005930'
item_list = []

for page in range(1, 11):
    # ÏàòÏßëÌï† url Í∞ÄÏ†∏Ïò§Í∏∞
    url = f"https://finance.naver.com/item/sise_day.naver?code={code}&page={page}"
    
    # Îç∞Ïù¥ÌÑ∞ Í≤∞Ï∏°Ïπò Ï†úÍ±∞ Î∞è dataframeÏúºÎ°ú Í∞ÄÏ†∏Ïò§Í∏∞
    table = pd.read_html(requests.get(url, headers={'User-agent': 'Mozilla/5.0'}).text)
    df_item = table[0].dropna()
    
    # ÌéòÏù¥ÏßÄÎ≥Ñ Ï†ÑÏ≤¥ Îç∞Ïù¥ÌÑ∞ ÏàòÏßë
    item_list.append(df_item)

In [27]:
item_list

[            ÎÇ†Ïßú       Ï¢ÖÍ∞Ä     Ï†ÑÏùºÎπÑ       ÏãúÍ∞Ä       Í≥†Í∞Ä       Ï†ÄÍ∞Ä         Í±∞ÎûòÎüâ
 1   2022.09.30  53100.0   500.0  52300.0  53600.0  51800.0  21823113.0
 2   2022.09.29  52600.0   300.0  53300.0  53700.0  52600.0  13882080.0
 3   2022.09.28  52900.0  1300.0  53900.0  54400.0  52500.0  19991129.0
 4   2022.09.27  54200.0   300.0  53800.0  54200.0  53500.0  16631289.0
 5   2022.09.26  53900.0   600.0  53700.0  54200.0  53600.0  15008449.0
 9   2022.09.23  54500.0   100.0  54400.0  54900.0  54200.0  10555964.0
 10  2022.09.22  54400.0   900.0  54600.0  54700.0  54300.0  12786510.0
 11  2022.09.21  55300.0   500.0  55400.0  55500.0  55000.0  11863700.0
 12  2022.09.20  55800.0   600.0  56400.0  57000.0  55800.0  14041465.0
 13  2022.09.19  56400.0   200.0  56300.0  57000.0  56000.0  12278653.0,
             ÎÇ†Ïßú       Ï¢ÖÍ∞Ä     Ï†ÑÏùºÎπÑ       ÏãúÍ∞Ä       Í≥†Í∞Ä       Ï†ÄÍ∞Ä         Í±∞ÎûòÎüâ
 1   2022.09.16  56200.0   200.0  55600.0  56400.0  55500.0  13456503.0
 2   2022.09.15  56000.0   800.0  57000.0  57100.0  56000.0  11664819.0
 3   2022.09.14  56800.0  1300.0  56200.0  57200.0  56100.0  12524961.0
 4   2022.09.13  58100.0  2500.0  57000.0  58500.0  56800.0  17166581.0
 5   2022.09.08  55600.0   400.0  56200.0  56400.0  55600.0  18000016.0
 9   2022.09.07  56000.0  1100.0  56700.0  56700.0  55900.0  17384854.0
 10  2022.09.06  57100.0     0.0  57200.0  57600.0  56900.0   7503086.0
 11  2022.09.05  57100.0   400.0  57400.0  57800.0  56800.0  11425977.0
 12  2022.09.02  57500.0   900.0  58300.0  58600.0  57500.0  15040310.0
 13  2022.09.01  58400.0  1300.0  58700.0  58900.0  58300.0  14905777.0,
             ÎÇ†Ïßú       Ï¢ÖÍ∞Ä     Ï†ÑÏùºÎπÑ       ÏãúÍ∞Ä       Í≥†Í∞Ä       Ï†ÄÍ∞Ä         Í±∞ÎûòÎüâ
 1   2022.08.31  59700.0   900.0  58200.0  59900.0  58200.0  14203512.0
 2   2022.08.30  58800.0   200.0  58700.0  59000.0  58300.0   9690044.0
 3   2022.08.29  58600.0  1400.0  58700.0  58900.0  58600.0   9841329.0
 4   2022.08.26  60000.0   300.0  60300.0  60900.0  59900.0   9499995.0
 5   2022.08.25  59700.0   700.0  59200.0  59700.0  59000.0   5767902.0
 9   2022.08.24  59000.0   100.0  59200.0  59500.0  59000.0   8888486.0
 10  2022.08.23  59100.0   900.0  59000.0  59600.0  59000.0   9041629.0
 11  2022.08.22  60000.0   900.0  60300.0  60400.0  59800.0   8259865.0
 12  2022.08.19  60900.0   600.0  61400.0  61600.0  60600.0   6923679.0
 13  2022.08.18  61500.0  1100.0  60300.0  61900.0  60000.0  16372754.0,
             ÎÇ†Ïßú       Ï¢ÖÍ∞Ä    Ï†ÑÏùºÎπÑ       ÏãúÍ∞Ä       Í≥†Í∞Ä       Ï†ÄÍ∞Ä         Í±∞ÎûòÎüâ
 1   2022.08.17  60400.0  600.0  61100.0  61200.0  60300.0   9061518.0
 2   2022.08.16  61000.0  800.0  60500.0  61600.0  60300.0  15036727.0
 3   2022.08.12  60200.0  300.0  59500.0  60700.0  59400.0  10786658.0
 4   2022.08.11  59900.0  800.0  59600.0  60000.0  59300.0  15141941.0
 5   2022.08.10  59100.0  900.0  58900.0  59200.0  58600.0  18084349.0
 9   2022.08.09  60000.0  800.0  60600.0  60700.0  59600.0  18251170.0
 10  2022.08.08  60800.0  700.0  61400.0  61400.0  60600.0  11313150.0
 11  2022.08.05  61500.0    0.0  61700.0  61900.0  61200.0   9567620.0
 12  2022.08.04  61500.0  200.0  61700.0  61800.0  61200.0   9125439.0
 13  2022.08.03  61300.0  400.0  61600.0  61600.0  61000.0  10053861.0,
             ÎÇ†Ïßú       Ï¢ÖÍ∞Ä     Ï†ÑÏùºÎπÑ       ÏãúÍ∞Ä       Í≥†Í∞Ä       Ï†ÄÍ∞Ä         Í±∞ÎûòÎüâ
 1   2022.08.02  61700.0   400.0  61200.0  61900.0  61000.0  13614895.0
 2   2022.08.01  61300.0   100.0  61000.0  61700.0  60300.0  13154816.0
 3   2022.07.29  61400.0   500.0  62400.0  62600.0  61300.0  15093120.0
 4   2022.07.28  61900.0   100.0  62300.0  62600.0  61600.0  10745302.0
 5   2022.07.27  61800.0   100.0  61300.0  61900.0  61200.0   7320997.0
 9   2022.07.26  61700.0   600.0  60800.0  61900.0  60800.0   6597211.0
 10  2022.07.25  61100.0   200.0  60900.0  61900.0  60800.0   9193681.0
 11  2022.07.22  61300.0   500.0  61800.0  62200.0  61200.0  10261310.0
 12  2022.07.21  61800.0  1300.0  61100.0  61900.0  60700.0  12291374.0
 13  2022.07.20  60500.0   400.0  61800.0  62100.0  60500.0  16782238.0,
             ÎÇ†Ïßú       Ï¢ÖÍ∞Ä     Ï†ÑÏùºÎπÑ       ÏãúÍ∞Ä       Í≥†Í∞Ä       Ï†ÄÍ∞Ä         Í±∞ÎûòÎüâ
 1   2022.07.19  60900.0  1000.0  61400.0  61500.0  60200.0  15248261.0
 2   2022.07.18  61900.0  1900.0  60600.0  62000.0  60500.0  20832517.0
 3   2022.07.15  60000.0  2500.0  58400.0  60000.0  58100.0  18685583.0
 4   2022.07.14  57500.0   500.0  57500.0  58200.0  57400.0  15067012.0
 5   2022.07.13  58000.0   100.0  58300.0  58600.0  58000.0  10841315.0
 9   2022.07.12  58100.0   700.0  58600.0  58700.0  58100.0   9336061.0
 10  2022.07.11  58800.0   100.0  59300.0  59600.0  58700.0  13042624.0
 11  2022.07.08  58700.0   500.0  58600.0  59300.0  58200.0  15339271.0
 12  2022.07.07  58200.0  1800.0  56400.0  58700.0  56300.0  21322833.0
 13  2022.07.06  56400.0   800.0  57300.0  57300.0  56400.0  16820461.0,
             ÎÇ†Ïßú       Ï¢ÖÍ∞Ä     Ï†ÑÏùºÎπÑ       ÏãúÍ∞Ä       Í≥†Í∞Ä       Ï†ÄÍ∞Ä         Í±∞ÎûòÎüâ
 1   2022.07.05  57200.0   100.0  57600.0  58200.0  57200.0  14216539.0
 2   2022.07.04  57100.0   900.0  56100.0  57400.0  55700.0  17807126.0
 3   2022.07.01  56200.0   800.0  56900.0  57500.0  55900.0  24982097.0
 4   2022.06.30  57000.0  1000.0  57200.0  57600.0  57000.0  18915142.0
 5   2022.06.29  58000.0  1400.0  58500.0  58800.0  58000.0  14677138.0
 9   2022.06.28  59400.0   600.0  59200.0  59500.0  58700.0  13540538.0
 10  2022.06.27  58800.0   400.0  59000.0  59900.0  58300.0  18122236.0
 11  2022.06.24  58400.0  1000.0  57900.0  59100.0  57700.0  23256103.0
 12  2022.06.23  57400.0   200.0  57700.0  58000.0  56800.0  28338608.0
 13  2022.06.22  57600.0   900.0  59000.0  59100.0  57600.0  23334687.0,
             ÎÇ†Ïßú       Ï¢ÖÍ∞Ä     Ï†ÑÏùºÎπÑ       ÏãúÍ∞Ä       Í≥†Í∞Ä       Ï†ÄÍ∞Ä         Í±∞ÎûòÎüâ
 1   2022.06.21  58500.0   200.0  58700.0  59200.0  58200.0  25148109.0
 2   2022.06.20  58700.0  1100.0  59800.0  59900.0  58100.0  34111306.0
 3   2022.06.17  59800.0  1100.0  59400.0  59900.0  59400.0  29053450.0
 4   2022.06.16  60900.0   200.0  61300.0  61800.0  60500.0  23394895.0
 5   2022.06.15  60700.0  1200.0  61300.0  61500.0  60200.0  26811224.0
 9   2022.06.14  61900.0   200.0  61200.0  62200.0  61100.0  24606419.0
 10  2022.06.13  62100.0  1700.0  62400.0  62800.0  62100.0  22157816.0
 11  2022.06.10  63800.0  1400.0  64000.0  64400.0  63800.0  22193552.0
 12  2022.06.09  65200.0   100.0  65100.0  65200.0  64500.0  25790725.0
 13  2022.06.08  65300.0   200.0  65400.0  65700.0  65300.0  12483180.0,
             ÎÇ†Ïßú       Ï¢ÖÍ∞Ä     Ï†ÑÏùºÎπÑ       ÏãúÍ∞Ä       Í≥†Í∞Ä       Ï†ÄÍ∞Ä         Í±∞ÎûòÎüâ
 1   2022.06.07  65500.0  1300.0  66200.0  66400.0  65400.0  19355755.0
 2   2022.06.03  66800.0   100.0  67200.0  67300.0  66800.0   8222883.0
 3   2022.06.02  66700.0   700.0  66600.0  67000.0  66400.0  14959443.0
 4   2022.05.31  67400.0   300.0  67500.0  67500.0  66700.0  24365002.0
 5   2022.05.30  67700.0  1200.0  67500.0  67800.0  66900.0  14255484.0
 9   2022.05.27  66500.0   600.0  66700.0  66900.0  66200.0  11405555.0
 10  2022.05.26  65900.0   500.0  66300.0  67200.0  65500.0  15970890.0
 11  2022.05.25  66400.0   100.0  66700.0  67100.0  65900.0  15150490.0
 12  2022.05.24  66500.0  1400.0  67500.0  67700.0  66500.0  15482576.0
 13  2022.05.23  67900.0   100.0  68800.0  68800.0  67600.0  13684088.0,
             ÎÇ†Ïßú       Ï¢ÖÍ∞Ä     Ï†ÑÏùºÎπÑ       ÏãúÍ∞Ä       Í≥†Í∞Ä       Ï†ÄÍ∞Ä         Í±∞ÎûòÎüâ
 1   2022.05.20  68000.0   500.0  67800.0  68400.0  67700.0  12109671.0
 2   2022.05.19  67500.0   600.0  66500.0  67600.0  66500.0  17073727.0
 3   2022.05.18  68100.0   500.0  68300.0  68700.0  67600.0  16486319.0
 4   2022.05.17  67600.0  1300.0  66600.0  67900.0  66600.0  15680447.0
 5   2022.05.16  66300.0   200.0  67100.0  67400.0  66100.0  11937555.0
 9   2022.05.13  66500.0  1600.0  65300.0  66700.0  65200.0  14551536.0
 10  2022.05.12  64900.0   800.0  65200.0  65500.0  64900.0  16414188.0
 11  2022.05.11  65700.0     0.0  65500.0  66300.0  65200.0  12330920.0
 12  2022.05.10  65700.0   400.0  65900.0  66300.0  65300.0  17235605.0
 13  2022.05.09  66100.0   400.0  66300.0  66900.0  66100.0  11858736.0]

In [29]:
# List ÌòïÌÉúÎ•º ÌïòÎÇòÏùò DataFrameÏúºÎ°ú ÎßåÎì§Í∏∞
df = pd.concat(item_list)

In [30]:
df

            ÎÇ†Ïßú       Ï¢ÖÍ∞Ä     Ï†ÑÏùºÎπÑ       ÏãúÍ∞Ä       Í≥†Í∞Ä       Ï†ÄÍ∞Ä         Í±∞ÎûòÎüâ
1   2022.09.30  53100.0   500.0  52300.0  53600.0  51800.0  21823113.0
2   2022.09.29  52600.0   300.0  53300.0  53700.0  52600.0  13882080.0
3   2022.09.28  52900.0  1300.0  53900.0  54400.0  52500.0  19991129.0
4   2022.09.27  54200.0   300.0  53800.0  54200.0  53500.0  16631289.0
5   2022.09.26  53900.0   600.0  53700.0  54200.0  53600.0  15008449.0
..         ...      ...     ...      ...      ...      ...         ...
9   2022.05.13  66500.0  1600.0  65300.0  66700.0  65200.0  14551536.0
10  2022.05.12  64900.0   800.0  65200.0  65500.0  64900.0  16414188.0
11  2022.05.11  65700.0     0.0  65500.0  66300.0  65200.0  12330920.0
12  2022.05.10  65700.0   400.0  65900.0  66300.0  65300.0  17235605.0
13  2022.05.09  66100.0   400.0  66300.0  66900.0  66100.0  11858736.0

[100 rows x 7 columns]